@CHARSET "UTF-8";
#aimg{
    width:100%;
    height:440px;
}
#d1{
    width:12px;
    height:12px;
    border-radius:50%;
    border:2px solid #2AAD6F;
    background-color: white; 
}
#d2{
    width:12px;
    height:12px;
    border-radius:50%;
    border:2px solid #2AAD6F;
    background-color: white; 
    margin-left:20px;
}
/*购物结算部分*/
.shopping_list_top{
    clear:both;
    font-size:14px;
    font-weight:bold;
    margin-top:20px;
}
.shopping_list_border{
    border:solid 2px #666;
}
.shopping_list_title{
    background-color:#eee;
    height:25px;
}
.shopping_list_title li{
    float:left;
    line-height:28px;
}
.shopping_list_title_1{
    width:420px;
    padding-left:30px;
    text-align:left;
}
.shopping_list_title_2{
    width:120px;
    text-align:center;
}
.shopping_list_title_3{
    width:120px;
    text-align:center;
}
.shopping_list_title_4{
    width:120px;
    text-align:center;
}
.shopping_list_title_5{
    width:70px;
    text-align:center;
}
.shopping_list_title_6{
    width:70px;
    text-align:center;
}
.shopping_product_list{
    height:35px;

}
.shopping_product_list input{
    width:30px;
    height:15px;
    border:solid 1px #666;
    text-align:center;
}
.shopping_product_list td{
    line-height:35px;
    border-bottom:dashed 1px #CCC;
}
.shopping_product_list_1{
    width:420px;
    padding-left:30px;
    text-align:left;
}
.shopping_product_list_2{
    width:120px;
    text-align:center;
    
}
.shopping_product_list_3{
    width:120px;
    text-align:center;
    color:#464646;
}
.shopping_product_list_4{
    width:120px;
    text-align:center;
    color:#191919;
}
.shopping_product_list_5{
    width:70px;
    text-align:center;
}
.shopping_product_list_6{
    width:70px;
    text-align:center;
}
.shopping_list_end{
    background-color:#eee;
    height:70px;
}
.shopping_list_end li{
    float:right;
}
.shopping_list_end_1{
    margin:5px 10px 0px 10px;
}
.shopping_list_end_2{
    font-weight:bold;
    color:#BD3E00;
    font-size:14px;
    margin:5px 10px 0px 0px;
}
.shopping_list_end_3{
    font-weight:bold;
    font-size:14px;
    margin:5px 0px 0px 15px;
}
.shopping_list_end_4{
    border-right:solid 1px #666666;
    margin:10px 0px 0px 15px;
    padding-right:10px;
}
.shopping_list_end_yellow{
    color:#BD3E00;
}